#About{
    font-family: "Cormorant Garamond" ;
    /* font-weight: Bold; */
    /* font-size: xx-large; */
    text-align: left;
    /* font-size: 17px; */
}
/* 🕸️⚙️📌📍☁️⭐🌟❄️⚡♾️✔️ */

#About p{
    font-size: 20px;
}
#About li{
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    list-style-type: "📌";
}
#About span{
    color: rgb(43, 17, 98);
    font-weight: bold;
}
#About h2{
    font-family: Satisfy;
    font-weight: bold;
}
@media(max-width: 792px){
    #About p{
        font-size: 17px;
    }

    #About li{
        font-size: 17px;
    }
}

