#About{
    font-family: "Cormorant Garamond" ;
    /* font-weight: Bold; */
    /* font-size: xx-large; */
    text-align: left;
}
/* 🕸️⚙️📌📍☁️⭐🌟❄️⚡♾️✔️ */

#About li{
    text-align: left;
    font-size: 1rem;
    list-style-type: "📌";
}
#About span{
    color: rgb(13, 13, 123);
    font-weight: bold;
}
#About h2{
    font-family: Satisfy;
    font-weight: bold;
}
@media(max-width: 792px){
    #About p{
        font-size: 17px;
    }
}

