#About{
    font-family: "Cormorant Garamond" ;
    font-weight: Bold;
    font-size: xx-large;
}

#About h2{
    font-family: Satisfy;
    font-weight: bold;
}
@media(max-width: 792px){
    #About p{
        font-size: 17px;
    }
}

