body{
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

#particles-js > * {
    position: relative;
    z-index: 1;
}

body {
    position: relative;
}


#hero img{ 
    display: inline-block;
    border-radius: 5%;
}
#hero h1{
    font-family: "Cormorant Garamond" ;
    font-weight: Bold;
    font-size: xx-large;
    text-align: center;
}
#hero p{
    font-family: Satisfy;
    text-align: center;
}

#hero span{
    font-weight: bold;
}

@media(max-width: 792px){

    #hero img{
        height: 320px;
    }
    #hero p{
    font-size: 17px;
    }
    #hero h1{
        font-size: x-large;
    }
    .title{
        font-size: 23px;
    }

}









