#hero img{ 
    display: inline-block;
    border-radius: 5%;
}
#hero h1{
    font-family: "Cormorant Garamond" ;
    font-weight: Bold;
    font-size: xx-large;
}
#hero p{
    font-family: Satisfy;
}
span{
    font-weight: bold;
}

@media(max-width: 600px){

    #hero img{
        height: 250px;
    }
    #hero p{
    font-size: 17px;
    }
    #hero h1{
        font-size: x-large;
    }
    .title{
        font-size: 23px;
    }

}









