#interest h2{
    font-family: Satisfy;
    font-weight: bold;
}

#interest h3{
    text-align: center;
    font-size: 2rem;
}

#contact h2{
    font-family: Satisfy;
    font-weight: bold;
}

#contact img{
    vertical-align: middle;
}
@media (max-width: 792px){

    #interest h3{
        text-align: center;
        /* font-size: 1.7rem; */
    }

}