#Navbar #logo{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style:normal;
}
#Navbar img{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-dark {
    --bs-navbar-toggler-border-color: rbg(33, 37, 41);
    --bs-navbar-toggler-icon-bg: rbg(33, 37, 41);
}

.navbar{
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

#Navbar .nav-item{
     font-family: "Old Standard TT", serif;
}