#project h2{
    font-family: Satisfy;
    font-weight: bold;

}

 #project p{
    float: right;
 }

#project img{
    border-radius: 5%;
} 
.container{
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

#project{
    margin-bottom: 70px;
}
.main{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 10px 0;
    
}

.first{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 10px 0;
    margin-bottom: 50px;
}

.second{
    gap: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; 
    margin: 10px 0;
    margin-bottom: 50px;
} 

.third{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 10px 0;
    margin-bottom: 50px;
}

.fourth{
    gap: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 10px 0;
    margin-bottom: 50px;
}

p, h1{
    text-align: left;
    flex-grow: 1;
    margin: 0;
    padding: 10px;
}

#project h1{
    font-family: "Cormorant Garamond" ;
    font-weight: 700;
    font-size: 32px;
}
#project p{
    font-family: Satisfy;
    font-size: 20px;
    font-weight: 300;
}

#project a{
    padding: 10px;
}



/* img{
    max-width: 100%;
    height: auto;
} */

@media (max-width: 792px){

.first{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    gap: 5px;
    align-items:center;
}

.second{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    gap: 5px; 
    align-items:center; 
}

.third{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    gap: 5px;
    align-items:center;
}

.fourth{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    gap: 5px;
    align-items:center;  
}


#project h1{
    font-family: "Cormorant Garamond" ;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

#project p{
    font-family: Satisfy;
    font-size: 17px;
    font-weight: 300;
    text-align: left;
}   


#project img{
    top: 0;
    left: 0;
    width: 300px;
    object-fit: cover;
}

#project{
    margin-bottom: 40px;
}

}
