#Skill h2{
    font-family: Satisfy;
    font-weight: bold;
    
}

#Skill .bg-purple-subtle {
    background-color: #E6E6FA; /* Lavender */
}

#Skill .border-purple-subtle {
    border-color: #E6E6FA;
}

#Skill .text-purple-emphasis {
    color: #6A5ACD; /* SlateBlue */
}
#Skill img{
    border-radius: 40%;
    /* height: 25; */
}